@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.head .video {
    margin-bottom: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }
.head .video iframe, .main iframe, .footer iframe {
    border: none;
    
}

.main .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
    text-align: center;
}

.main .content {
    width: 100%;
    max-width: 1080em;
}




.main h1, .head h1, .footer h1, .month {
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size: 1.1em;
    padding-bottom: .8em;
}

.footer .video {
    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


@media (max-width: 940px) {
    .conteiner_ {
        padding: 5em;
    }
    .month  {
        text-align: center;
    }
}

@media (min-width: 940px) {
    .conteiner_ {
        padding: 5em;
    }
}